.modalContent{
    display: flex;
 flex-direction: column;
 background-color: rgb(236, 234, 234)  ;
  align-items: center;
  margin: 15vw;
  justify-content: center;

  
  width: auto;
}

.canvas{
    overflow: hidden;
    width: 400px;
          height: 200px;
          background-color: #864913;
}
.textHolder{
    padding: 1vw;
}

.buttonContainer{
    display: flex;
   gap: 20px;
    padding: 2%;
}

.inactiveCanvas{
    background-color: white;
    border: cyan 1px solid;
    width: 150px;
    height: 150px;
}