

  .content{
    /* background-color: #028CC6; */
    background: linear-gradient(160deg, rgba(1,146,206,1) 0%, rgba(6,95,147,1) 49%, rgba(8,73,123,1) 65%, rgba(12,37,81,1) 100%);
    clip-path: polygon(0 100%, 0 0, 6% 1%, 10% 4%, 14% 5%, 18% 7%, 22% 7%, 27% 8%, 32% 9%, 40% 9%, 45% 8%, 52% 6%, 61% 5%, 66% 4%, 73% 4%, 80% 4%, 87% 6%, 93% 5%, 98% 3%, 100% 0, 100% 100%);
    width: 100vw;
    padding-top:15%;
  }

  